<ion-header>
  <ion-toolbar>
    <ion-title>
      Image Recognition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-card-content>
      <div class="col-md-4">
        <ion-button (click)="addImage()" class="btn btn-primary"
          >1. Add Image</ion-button
        >
      </div>
      <div class="col-md-4">
        <label class="control-label">Label:</label>
        <input type="text" [(ngModel)]="newLabel" />
      </div>
    </ion-card-content>
    <ion-card-content>
      <div class="col-md-4">
        <ion-button (click)="train()" class="btn btn-danger"
          >2. Train Model</ion-button
        >
        <p>Iteration: {{iteration}}</p>
        <p>Loss: {{loss}}</p>
      </div>
      <div class="col-md-4">
        <progress-bar
          [progress]="iteration"
          [color-degraded]="{'0': '#00cb49',  '15': '#f9c3d3', '25': '#fd8c8e'}"
        ></progress-bar>
      </div>
    </ion-card-content>
    <ion-card-content>
      <ion-button (click)="predict()" class="btn btn-primary"
        >3. Predict</ion-button
      >
      <p>Results: {{results}}</p>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>{{label}} | {{confidence*100 | number : '0.1'}} %</h3>
        </div>
        <div class="panel-body">
          <video
            #video
            id="video"
            width="320"
            height="240"
            autoplay
            class="img-thumbnail"
          ></video>
          <canvas
            #canvas
            id="canvas"
            width="320"
            height="240"
            class="img-thumbnail"
          ></canvas>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
