<ion-header padding type="primary">Image Recognition</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-card-header>
      <label class="control-label">Label:</label>
      <input type="text" [(ngModel)]="newLabel" />
      <button (click)="addImage()" class="btn btn-primary">Add Image</button>
      <button (click)="train()" class="btn btn-danger">Train</button>
    </ion-card-header>
    <div class="row">
      <div class="col-md-4">
        <progress-bar
          [progress]="iteration"
          [color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}"
        ></progress-bar>
      </div>
      <div class="col-md-4">
        <button (click)="predict()" class="btn btn-primary">Predict</button>
        <p>Iteration: {{iteration}}</p>
        <p>Loss: {{loss}}</p>
        <p>results: {{results}}</p>
      </div>
    </div>
    <div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>{{label}} | {{confidence*100 | number : '0.1'}} %</h3>
        </div>
        <div class="panel-body">
          <video
            #video
            id="video"
            width="320"
            height="240"
            autoplay
            class="img-thumbnail"
          ></video>
          <canvas
            #canvas
            id="canvas"
            width="320"
            height="240"
            class="img-thumbnail"
          ></canvas>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
