<ion-content>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm">
        <h3>Draw a number between 0 to 9</h3>
        <div class="wrapper">
          <canvas drawable (newImage)="predict($event)"></canvas><br>
        </div>
        <button class="btn btn-sm btn-warning" (click)="canvas.clear();clear();">Erase</button>
      </div>
    </div>
    <div>
      <h1>Predicted Number: {{predictedNumber}}</h1>
    </div>
  </div>
</ion-content>

<!--<ion-tabs>-->
  <!--<ion-tab-bar slot="bottom">-->
    <!--<ion-tab-button tab="imageClassifier">-->
      <!--<ion-icon name="flash"></ion-icon>-->
      <!--<ion-label>Image Classifier</ion-label>-->
    <!--</ion-tab-button>-->

    <!--&lt;!&ndash;<ion-tab-button tab="tab2">&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon name="apps"></ion-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-label>Tab Two</ion-label>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-tab-button>&ndash;&gt;-->

    <!--&lt;!&ndash;<ion-tab-button tab="tab3">&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon name="send"></ion-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-label>Tab Three</ion-label>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-tab-button>&ndash;&gt;-->
  <!--</ion-tab-bar>-->
<!--</ion-tabs>-->

