<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="image-recognition">
      <ion-icon name="image"></ion-icon>
      <ion-label>Image Recognition</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="image-classifier">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Image Classifier</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="predict-number">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Predict Number</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="video-classifier">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Video Classifier</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

