<ion-header>
  <ion-toolbar>
    <ion-title>
      Predict Number
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ng-container *ngIf="loading" >
      <ion-spinner></ion-spinner>
      <ion-text>Loading model</ion-text>
    </ng-container>
    <div *ngIf="!loading">
      <h3>Draw a number between 0 to 9</h3>
      <canvas class="draw-area"  drawable (newImage)="predict($event)" width="140" height="140"></canvas><br>
      <ion-button color="danger" (click)="canvas.clear();clear();">Erase</ion-button>
      <h1>Predicted Number: {{predictedNumber}}</h1>
    </div>
  </ion-card>
</ion-content>
