<ion-header padding type="primary">Image Classifier</ion-header>
<ion-content>
    <ng-container *ngIf="loading" >
        <ion-spinner></ion-spinner>
        <ion-text>Loading model</ion-text>
    </ng-container>
    <ion-card *ngIf="!loading">
        <ion-card-header>
            <input type='file' (change)="readURL($event);" />
        </ion-card-header>
        <ion-card-content>
            <ng-container *ngIf="predictions && predictions.length">
                <div *ngFor="let prediction of predictions">Prediction: {{ prediction.label }}  {{prediction.confidence}}</div>
            </ng-container>
            <img *ngIf="imageSrc" id="blah" [src]="imageSrc" alt="your image" (load)="predict($event.target)" />
        </ion-card-content>
    </ion-card>

</ion-content>
